.rectangle {
    width: 100%;
    background-color: rgb(243, 0, 0);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 20px;
    box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
  }
  
  .rectangle > * {
    margin: 0 10px; /* Espaçamento entre os ícones */
  }

  .rectangle {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os itens */
  }
  
  .contact-item {
    display: flex;
    align-items: center; /* Alinha os ícones e os textos verticalmente */
    gap: 10px; /* Espaço entre o ícone e o texto */
  }
  
  .contact-text {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold; /* Pode ajustar conforme desejado */
  }