.header {
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 60px; /* Aumenta a altura da imagem */
  margin-right: 0.3rem; /* Ajusta o espaçamento entre a imagem e o texto */
   border-radius: 15%;
}
  
.logo-text {
  font-size: 1.8rem; /* Aumenta o tamanho do texto para combinar com a logo */
  font-weight: bold;
  color: white;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1; /* Permite que a nav-list ocupe o espaço restante */
  justify-content: center; /* Centraliza os itens */
  align-items: center; /* Garante que os itens fiquem no centro vertical */
}

.nav-list li {
  margin: 0 1.5rem; /* Ajusta o espaçamento entre os itens */
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem; /* Aumenta o tamanho da fonte para melhor visibilidade */
}

.nav-list a:hover {
  text-decoration: underline;
}