.header {
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 50px;
  margin-right: 0.3rem;
  border-radius: 15%;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

/* Estilos do botão do menu hambúrguer */
.hamburger {
  display: none; /* Escondido por padrão */
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: white;
}

/* Estilos da navegação */
.nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-list li {
  margin: 0 1.5rem;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-list a:hover {
  text-decoration: underline;
}

/* Estilos para telas pequenas (menu hambúrguer) */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Mostra o botão do menu em telas pequenas */
  }

  .nav {
    position: absolute;
    top: 100%; /* Posiciona o menu abaixo do cabeçalho */
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    display: none; /* Esconde o menu por padrão */
  }

  .nav-open {
    display: flex; /* Mostra o menu quando está aberto */
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-list li {
    margin: 1rem 0; /* Ajusta o espaçamento entre os itens */
  }
}