html {
  scroll-behavior: smooth;
}
/* 
section {
  padding: 100px 20px;
  min-height: 100vh;
} */

#inicio {
  background-color: #f4f4f4;
}

#sobre-nos {
  background-color: #e2e2e2;
}

#servicos {
  background-color: #d0d0d0;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  background-color: #221f1f;
}

.footer p {
  font-size: 14px;
  color: #888;
}